includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    paths:
        - src
    level: 8
    excludes_analyse:
        - %currentWorkingDirectory%/src/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/Tests/*