includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    paths:
        - src
    level: 7
    excludes_analyse:
        - %currentWorkingDirectory%/src/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/Tests/*
    ignoreErrors:
        - '#^Access to an undefined property Symfony\\Component\\Validator\\Constraint\:\:\$message\.$#'