includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    paths:
        - .
    level: 8
    excludes_analyse:
        - %currentWorkingDirectory%/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/Tests/*


